/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
* {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.f-12 {
  font-size: clamp(12px, 1vw, 12px);
}

.f-14 {
  font-size: clamp(14px, 1vw, 14px);
}

.f-16 {
  font-size: clamp(16px, 1vw, 16px);
}

.f-18 {
  font-size: clamp(18px, 1vw, 18px);
}

.f-20 {
  font-size: clamp(20px, 1vw, 20px);
}

.f-22 {
  font-size: clamp(22px, 1vw, 22px);
}

.f-26 {
  font-size: clamp(26px, 1vw, 26px);
}

.f-32 {
  font-size: clamp(32px, 1vw, 32px);
}

.f-35 {
  font-size: clamp(35px, 1vw, 35px);
}

.f-50 {
  font-size: clamp(50px, 1vw, 50px);
}

.f-106 {
  font-size: clamp(106px, 1vw, 106px);
}

.f-130 {
  font-size: clamp(130px, 1vw, 130px);
}

.f-166 {
  font-size: clamp(166px, 1vw, 166px);
}

.f-168 {
  font-size: clamp(168px, 1vw, 168px);
}

.f-184 {
  font-size: clamp(184px, 1vw, 184px);
}

.f-300 {
  font-weight: 300;
}

.f-400 {
  font-weight: 400;
}

.f-500 {
  font-weight: 500;
}

.f-700 {
  font-weight: 700;
}

.f-900 {
  font-weight: 900;
}

body {
  font-family: "Noto Sans TC", sans-serif;
}

img,
svg {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.container {
  width: 100%;
  margin: auto;
  max-width: 1920px;
  padding: 0px 80px;
  position: relative;
}

.container-noPadding {
  width: 100%;
  margin: auto;
  max-width: 1920px;
  position: relative;
}

.container-full {
  margin: auto;
  position: relative;
  overflow: hidden;
}

.bottom-line {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  background-color: black;
  bottom: 0;
  left: 80px;
}

.circle {
  width: 20px;
  height: 20px;
  background: #fff;
  position: absolute;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.2;
  z-index: 999;
  pointer-events: none;
  transition: 1;
}

.circle--active {
  width: 80px;
  height: 80px;
  background: #fff;
  position: absolute;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  mix-blend-mode: difference;
  opacity: 1;
  z-index: 999;
  transition: width 0.5s, height 0.5s;
}

.circle--Nactive {
  background-color: black;
  transition: width 0.5s, height 0.5s;
}

.dis-none {
  display: none;
}

.d-flex {
  display: flex;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

header {
  position: relative;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80px;
  height: 100vh;
  height: 100dvh;
  border-right: 1px solid black;
  position: fixed;
  left: 0;
  top: 0;
  flex-direction: column;
  z-index: 2;
}
.nav__logo {
  margin-top: 26px;
}
.nav__menu {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
}
.nav__menu img {
  margin-top: 12px;
}
.nav__meunBtn {
  display: block;
  width: 22px;
  height: 18px;
  position: relative;
}
.nav__meunBtn img {
  position: absolute;
  bottom: -20px;
}
.nav__meunBtn span {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #000;
  position: absolute;
  left: 0;
  transition: transform 0.3s ease-out;
}
.nav__meunBtn span:nth-child(1) {
  top: 0;
}
.nav__meunBtn span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}
.nav__meunBtn span:nth-child(3) {
  bottom: 0;
}
.nav__meunBtn.active span:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}
.nav__meunBtn.active span:nth-child(2) {
  opacity: 0;
}
.nav__meunBtn.active span:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}
.nav__text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 36px;
}
.nav__text p {
  line-height: 80px;
  writing-mode: vertical-lr;
  margin-bottom: 16px;
  letter-spacing: 0.03em;
}

.list {
  position: fixed;
  left: 80px;
  top: 0;
  z-index: 1;
}
.list .active {
  transform: translateX(0%);
  opacity: 1;
  -webkit-backdrop-filter: blur(16px);
          backdrop-filter: blur(16px);
}
.list__content {
  z-index: -1;
  -webkit-backdrop-filter: blur(0px);
          backdrop-filter: blur(0px);
  padding: 0 68px;
  position: absolute;
  left: 0px;
  top: 0;
  width: 600px;
  border-right: 1px solid black;
  height: 100vh;
  height: 100svh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: translateX(-50%);
  opacity: 0;
  transition: 0.3s ease-in-out;
}
.list__contentImg {
  width: 100%;
  border-bottom: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.list__contentImg img {
  padding-bottom: 30px;
}
.list__contentText {
  padding: 90px 0 0 0;
  width: 100%;
  display: flex;
  align-items: center;
}
.list__contentText ul .active a {
  color: black;
  transition: 0.75s;
}
.list__contentText ul .active::after {
  background-color: black;
  transition: 0.75s;
}
.list__contentText ul li {
  list-style-type: none;
  font-family: "BAHNSCHRIFT";
  margin-bottom: 50px;
  position: relative;
  padding-left: 34px;
}
.list__contentText ul li::after {
  position: absolute;
  content: "";
  width: 18px;
  height: 4px;
  top: calc(50% - 3px);
  left: 0;
  background-color: white;
}
.list__contentText ul li a {
  text-decoration: none;
  color: white;
}
.list__contentText ul :last-child {
  margin-bottom: 0;
}

.Index {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  height: 100vh;
  height: 100svh;
  max-width: 1300px;
  margin: auto;
}
.Index__bg {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.Index__bg img {
  display: block;
  width: 100%;
  height: 100vh;
  height: 100svh;
  -o-object-fit: cover;
     object-fit: cover;
}
.Index__title {
  padding-bottom: 80px;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
}
.Index__title img:nth-child(1) {
  margin-bottom: 16px;
}
.Index__title img:nth-child(2) {
  margin-bottom: 16px;
}
.Index__title img:nth-child(3) {
  margin-bottom: 36px;
}
.Index__title h1 {
  letter-spacing: 0.1em;
  margin-bottom: 16px;
}
.Index__title h2 {
  letter-spacing: 0.2em;
}
.Index__ani {
  position: relative;
}
.Index__ani--ball {
  position: absolute;
  width: 22px;
  height: 22px;
  background-color: white;
  top: calc(50% - 10px);
  left: calc(50% - 12px);
  z-index: 2;
  border-radius: 50%;
}
.Index__ani--line1 {
  position: absolute;
  width: 2000%;
  height: 1px;
  background-color: #463d3a;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: rotate(-25deg);
  transform-origin: left;
}
.Index__ani--line2 {
  position: absolute;
  width: 2000%;
  height: 1px;
  background-color: #463d3a;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: rotate(-55deg);
  transform-origin: left;
}
.Index__ani--line3 {
  position: absolute;
  width: 2000%;
  height: 1px;
  background-color: #463d3a;
  top: 50%;
  left: 50%;
  transform: rotate(155deg);
  transform-origin: left;
  z-index: 1;
}
.Index__scroll {
  position: absolute;
  right: 85px;
  z-index: 2;
  bottom: 0;
}
.Index__scroll p {
  writing-mode: vertical-lr;
  letter-spacing: 0.1em;
  height: 200px;
  position: relative;
  overflow: hidden;
}
.Index__scroll p::before {
  position: absolute;
  content: "";
  background-color: black;
  width: 1px;
  height: 146px;
  bottom: 0;
  left: 49%;
  z-index: 1;
}
.Index__scroll p::after {
  position: absolute;
  content: "";
  background-color: white;
  width: 1px;
  height: 70px;
  top: 54px;
  left: 49%;
  z-index: 2;
}
.Index__smalLogo {
  width: 118px;
  position: absolute;
  right: calc(33% - 59px);
  bottom: calc(41% - 31.5px);
}
.Index__smalLogo img {
  width: 100%;
  margin-bottom: 10px;
}
.Index__smalLogo img:last-child {
  margin-bottom: 0;
}
.Index__lightBall {
  position: absolute;
  left: calc(50% - 134.5px);
  top: calc(50% - 134.5px);
}
.Index__lightBall--set1 {
  left: calc(50% - 73.5px);
  top: calc(50% - 73.5px);
  transform: translate(-12px, -10px);
  opacity: 0.15;
}
.Index__lightBall--set2 {
  transform: translate(10px, 0px);
}

.OOH {
  padding-top: 110px;
  position: relative;
  overflow: hidden;
}
.OOH__bg {
  position: absolute;
  left: 0;
  top: 0px;
  z-index: -2;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.OOH__bg img {
  display: block;
  min-height: 1405px;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.OOH__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  max-width: 949px;
  margin: auto;
}
.OOH__title::after {
  position: absolute;
  content: "";
  width: 1px;
  height: 110%;
  left: 54%;
  background-color: black;
}
.OOH__title--L {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.OOH__title--L img {
  margin-bottom: 10px;
}
.OOH__title--R p {
  line-height: 32px;
}
.OOH__tower {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 120px;
}
.OOH__ani {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  max-width: 507px;
  margin-top: 134px;
  margin-left: 80px;
}
.OOH__ani::after {
  position: absolute;
  content: "";
  background-color: white;
  width: 20px;
  height: 20px;
  top: calc(55% - 10px);
  left: calc(50% - 10px);
  border-radius: 50%;
}
.OOH__ani img {
  position: absolute;
  top: calc(55% - 174px);
  left: calc(50% - 174px);
}
.OOH__ani--all {
  position: absolute;
  padding: 13px 26px;
  transition: color 0.25s;
  cursor: pointer;
}
.OOH__ani--all::before, .OOH__ani--all::after {
  box-sizing: border-box;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border: 2px solid transparent;
  width: 0;
  height: 0;
}
.OOH__ani--all::before {
  top: 0;
  right: 0;
}
.OOH__ani--all::after {
  bottom: 0;
  left: 0;
}
.OOH__ani--all:hover::before, .OOH__ani--all:hover::after {
  width: 100%;
  height: 100%;
}
.OOH__ani--all:hover::before {
  border-top-color: #463d3a;
  border-left-color: #463d3a;
  transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
}
.OOH__ani--all:hover::after {
  border-bottom-color: #463d3a;
  border-right-color: #463d3a;
  transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
}
.OOH__ani--Digital {
  line-height: 22px;
  position: absolute;
  top: calc(57% - 22px);
  left: calc(69% - 70px);
}
.OOH__ani--Branding {
  top: -62px;
}
.OOH__ani--Production {
  left: -181px;
  bottom: 113px;
}
.OOH__ani--Social {
  right: -133px;
  bottom: 113px;
}
.OOH__ani--Media {
  bottom: -60px;
}
.OOH__slick {
  background-color: black;
  color: white;
  margin-left: 80px;
  overflow: hidden;
}
.OOH__slick--set {
  padding: 56px 0px;
  padding-left: 100px;
  width: 33.33333%;
  min-height: 380px;
  border-right: 1px solid #434247;
  background: url("../images/textBG2.png") no-repeat center right;
  background-size: contain;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
.OOH__slick--set h3 {
  margin-bottom: 10px;
}
.OOH__slick--set p {
  margin-bottom: 60px;
}
.OOH__slick--set ul li {
  line-height: 30px;
  letter-spacing: 0.2em;
  color: white;
}
.OOH__slick--twoUl {
  display: flex;
}
.OOH__slick--twoUl ul:first-child {
  margin-right: 30px;
}
.OOH__slick--arrow {
  overflow: hidden;
  cursor: pointer;
  padding: 0;
  margin: 0;
  border: 0px;
  width: 60px;
  height: 60px;
}
.OOH__slick--Larrow {
  background-color: white;
  border-radius: 50%;
  position: absolute;
  right: 110px;
  bottom: 22px;
  z-index: 10;
}
.OOH__slick--Larrow:hover {
  background-color: transparent;
  background: url("../images/textBG3.png") no-repeat center;
  transition: 0.5s;
}
.OOH__slick--Rarrow {
  background-color: white;
  border-radius: 50%;
  position: absolute;
  right: 30px;
  bottom: 22px;
  z-index: 10;
}
.OOH__slick--Rarrow:hover {
  background-color: transparent;
  background: url("../images/textBG3.png") no-repeat left;
  transition: 0.5s;
}