.Index {
  display: flex;
  align-items: center;
  justify-content: center;
  @include media-1024 {
    flex-wrap: wrap;
  }
  position: relative;
  height: 100vh;
  height: 100svh;
  max-width: 1300px;
  margin: auto;

  &__bg {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    img {
      display: block;
      width: 100%;
      height: 100vh;
      height: 100svh;
      object-fit: cover;
    }
  }
  &__title {
    @include media-1280 {
      padding-left: 100px;
    }

    @include media-1024 {
      padding-bottom: 40px;
    }
    @include media-768 {
      padding-left: 0px;
    }
    .div {
      overflow: hidden;
    }
    padding-bottom: 80px;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    img {
      width: 100%;
    }
    img:nth-child(1) {
      margin-bottom: 16px;
    }
    img:nth-child(2) {
      margin-bottom: 16px;
      max-width: 325px;
      width: 100%;
      @include media-1280 {
        width: 60%;
      }
    }
    img:nth-child(3) {
      margin-bottom: 36px;
      @include media-620 {
        margin-bottom: 20px;
      }
    }
    h1 {
      letter-spacing: 0.1em;
      margin-bottom: 16px;
      @include media-620 {
        margin-bottom: 8px;
      }
    }
    h2 {
      letter-spacing: 0.2em;
    }
  }
  &__ani {
    position: relative;
    margin-left: 20px;
    @include media-1024 {
      display: none;
    }
    @include media-1280 {
      svg {
        width: 100%;
      }
    }
    &--ball {
      position: absolute;
      width: 22px;
      height: 22px;
      background-color: white;
      top: calc(50% - 10px);
      left: calc(50% - 12px);
      z-index: 2;
      border-radius: 50%;
    }
    &--line1 {
      position: absolute;
      width: 2000%;
      height: 1px;
      background-color: #463d3a;
      top: 50%;
      left: 50%;
      z-index: 1;
      transform: rotate(-25deg);
      transform-origin: left;
      // transition: 3s;
    }
    &--line2 {
      position: absolute;
      width: 2000%;
      height: 1px;
      background-color: #463d3a;
      top: 50%;
      left: 50%;
      z-index: 1;
      transform: rotate(-55deg);
      transform-origin: left;
      // transition: 3s;
    }
    &--line3 {
      position: absolute;
      width: 2000%;
      height: 1px;
      background-color: #463d3a;
      top: 50%;
      left: 50%;
      // transition: 3s;
      transform: rotate(155deg);
      transform-origin: left;
      z-index: 1;
    }
  }

  &__scroll {
    position: absolute;
    right: 85px;
    z-index: 2;
    bottom: 0;
    opacity: 0;
    @include media-620 {
      right: 48%;
    }
    p {
      writing-mode: vertical-lr;
      letter-spacing: 0.1em;
      position: absolute;
      left: -6px;
      top: -60px;
      overflow: hidden;
      cursor: default;
    }
    &--line {
      position: relative;
      height: 150px;
      width: 2px;
      overflow: hidden;
      @include media-620 {
        height: 100px;
      }
      &::before {
        position: absolute;
        content: "";
        background-color: black;
        width: 2px;
        height: 146px;
        bottom: 0;
        left: 49%;
        z-index: 1;
      }
      &::after {
        position: absolute;
        content: "";
        background-color: white;
        width: 2px;
        height: 70px;
        top: 54px;
        left: 49%;
        z-index: 2;
        animation: slide-down 3s infinite ease-in-out;
      }
      @keyframes slide-down {
        0% {
          transform: translateY(-200%);
        }
        100% {
          transform: translateY(250%);
        }
      }
    }
  }
  &__smalLogo {
    width: 118px;
    position: absolute;

    // right: calc(33% - 118px / 2);
    // bottom: calc(41% - 63px / 2);

    img {
      width: 100%;
      margin-bottom: 10px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  &__smalLogoW {
    right: calc(50% - 118px / 2);
    bottom: calc(50% - 26px / 2);
  }
  &__smalLogoB {
    right: calc(50% - 118px / 2);
    bottom: calc(50% - 26px / 2);
  }
  &__slogn {
    right: calc(33% - 118px / 2);
    bottom: calc(41% - 26px / 2);
  }
  &__lightBall {
    position: absolute;
    &--set1 {
      max-width: 147px;
      width: 100%;
      left: calc(50% - 147px / 2);
      top: calc(50% - 147px / 2);
      transform: translate(-12px, -10px);
      opacity: 0.15;
      @include media-1280 {
      }
    }
    &--set2 {
      max-width: 269px;
      width: 100%;
      left: calc(50% - 269px / 2);
      top: calc(50% - 269px / 2);
      transform: translate(10px, 0px);
      @include media-1280 {
      }
    }
  }
}

.OOH {
  padding-top: 110px;
  position: relative;
  @include media-1024 {
    padding-top: 80px;
  }
  // overflow: hidden;
  &__bg {
    position: absolute;
    left: 0;
    top: 0px;
    z-index: -2;
    width: 100%;
    height: 100%;
    overflow: hidden;
    img {
      display: block;
      min-height: 1405px;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  &__title {
    width: 100%;
    @include media-1280 {
      padding-left: 40px;
      padding-right: 70px;
    }
    @include media-1024 {
      max-width: 749px;
      padding-left: 30px;
      padding-right: 0px;
      flex-direction: column;
    }
    @include media-768 {
      padding-left: 0px;
    }
    @include media-620 {
      padding-bottom: 60px;
    }
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    max-width: 949px;
    margin: auto;
    &::after {
      position: absolute;
      content: "";
      width: 1px;
      height: 110%;
      left: 54%;
      background-color: black;
      @include media-1024 {
        width: 0;
      }
    }
    &--L {
      div {
        position: relative;
        overflow: hidden;
      }
      @include flex-center;
      flex-direction: column;
      @include media-1024 {
        width: 50%;
        margin-bottom: 20px;
        padding-left: 30px;
      }
      @include media-768 {
        padding-left: 0px;
      }

      img {
        width: 100%;
        margin-bottom: 10px;
      }
    }
    &--R {
      p {
        line-height: 32px;
        padding-left: 30px;
        @include media-768 {
          padding-left: 0px;

          text-align: center;
        }
      }
    }
  }
  &__tower {
    @include flex-center;
    width: 100%;
    margin-bottom: 160px;
    @include media-1024 {
      margin-top: -50px;
    }
    @include media-620 {
      display: none;
    }
  }
  &__ani {
    @include flex-center;
    @include media-1024 {
      width: 55%;
      svg {
        height: 100%;
      }
    }
    position: relative;
    max-width: 507px;
    margin-top: 134px;
    margin-left: 80px;
    @include media-768 {
      margin-left: 0px;
    }
    &::after {
      position: absolute;
      content: "";
      background-color: white;
      width: 20px;
      height: 20px;
      top: calc(55% - 20px / 2);
      left: calc(50% - 20px / 2);
      border-radius: 50%;
    }
    img {
      position: absolute;
      top: calc(55% - 348px / 2);
      left: calc(50% - 348px / 2);
      @include media-1024 {
        width: 100%;
        max-width: 248px;
        top: calc(55% - 248px / 2);
        left: calc(50% - 248px / 2);
      }
    }
    &--all {
      position: absolute;
      padding: 13px 26px;
      transition: color 0.25s;
      cursor: pointer;
      &::before,
      &::after {
        box-sizing: border-box;
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        border: 2px solid transparent;
        width: 0;
        height: 0;
      }
      // This covers the top & left borders (expands left, then down)
      &::before {
        top: 0;
        right: 0;
      }

      // And this the bottom & right borders (expands right, then up)
      &::after {
        bottom: 0;
        left: 0;
      }

      // Hover styles
      &:hover::before,
      &:hover::after {
        width: 100%;
        height: 100%;
      }

      &:hover::before {
        border-top-color: #463d3a; // Make borders visible
        border-left-color: #463d3a;
        transition: width 0.25s ease-out,
          // Width expands first
          height 0.25s ease-out 0.25s; // And then height
      }

      &:hover::after {
        border-bottom-color: #463d3a; // Make borders visible
        border-right-color: #463d3a;
        transition: border-color 0s ease-out 0.5s,
          // Wait for ::before to finish before showing border
          width 0.25s ease-out 0.5s,
          // And then exanding width
          height 0.25s ease-out 0.75s; // And finally height
      }
    }
    &--Digital {
      line-height: 22px;
      position: absolute;
      top: calc(57% - 22px);
      left: calc(69% - 70px);
      @include media-1024 {
        top: calc(57% - 22px);
        left: calc(73% - 61px);
      }
    }
    &--Branding {
      top: -62px;
      @include media-1024 {
        top: -55px;
      }
    }
    &--Production {
      left: -181px;
      bottom: 113px;
      @include media-1024 {
        left: -161px;
        bottom: 25%;
      }
    }
    &--Social {
      right: -133px;
      bottom: 113px;
      @include media-1024 {
        right: -114px;
        bottom: 25%;
      }
    }
    &--Media {
      bottom: -60px;
      @include media-1024 {
        bottom: -55px;
      }
    }
  }

  &__slick {
    color: white;
    margin-left: 80px;
    overflow: hidden;
    @include media-768 {
      margin-left: 0px;
    }
    &--set:nth-child(1) {
      background-color: #37373d;
    }
    &--set {
      padding: 56px 0px;
      padding-left: 80px;
      display: flex !important;
      align-items: start;
      justify-content: start;
      flex-direction: column;
      @include media-1280 {
        padding-left: 50px;
      }
      width: 33.33333%;
      min-height: 380px;
      border-right: 1px solid #434247;
      background-color: black;
      h3 {
        padding-bottom: 10px;
        background-image: linear-gradient(
          to right,
          rgb(194, 232, 253),
          /* 起點，紅色 */ rgb(255, 220, 154),
          /* 橙色 */ rgb(252, 223, 255),
          /* 黃色 */ rgb(181, 238, 255),
          /* 綠色 */ rgb(155, 155, 255),
          /* 藍色 */ rgb(217, 163, 255)
        );
        -webkit-background-clip: text;
        color: transparent;
        line-height: 35px;
      }
      p {
        letter-spacing: 0.1em;
        background-image: linear-gradient(
          to right,
          rgb(194, 232, 253),
          /* 起點，紅色 */ rgb(255, 251, 244),
          /* 橙色 */ rgb(252, 223, 255),
          /* 黃色 */ rgb(181, 238, 255)
        );
        -webkit-background-clip: text;
        color: transparent;
      }
      ul {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        li {
          line-height: 30px;
          letter-spacing: 0.2em;
          color: white;
        }
      }
    }
    &--twoUl {
      display: flex;
      ul:first-child {
        margin-right: 30px;
      }
    }
    &--arrow {
      overflow: hidden;
      cursor: pointer;
      padding: 0;
      margin: 0;
      border: 0px;
      width: 60px;
      height: 60px;
    }
    &--Larrow {
      background-color: white;
      border-radius: 50%;
      position: absolute;
      right: 110px;
      bottom: 22px;
      z-index: 10;
      &:hover {
        background-color: transparent;
        background: url("../images/textBG3.png") no-repeat center;
        transition: 0.5s;
      }
    }
    &--Rarrow {
      background-color: white;
      border-radius: 50%;
      position: absolute;
      right: 30px;
      bottom: 22px;
      z-index: 10;
      &:hover {
        background-color: transparent;
        background: url("../images/textBG3.png") no-repeat left;
        transition: 0.5s;
      }
    }
  }
}
