$pc-font-size-1: 12px;
$pc-font-size-2: 14px;
$pc-font-size-3: 16px;
$pc-font-size-4: 18px;
$pc-font-size-5: 22px;
$pc-font-size-6: 26px;
$pc-font-size-7: 35px;
$pc-font-size-8: 50px;
$pc-font-size-9: 106px;
$pc-font-size-10: 130px;
$pc-font-size-11: 166px;
$pc-font-size-12: 168px;
$pc-font-size-13: 184px;
